/*   */

#s4-workspace {

    width: 100% !important; 
    /*background-color: #ECF1EF !important ; */
      
}



.s4-status-s3 {
    display: none !important;
}
/*
.s4-titletext {
     display: none !important;
}
*/


.menu-item {    
    color: white !important;
}



#s4-leftpanel {
    width: 0px !important;
    display: none !important;
}

#MSO_ContentTable {
    width: 100% !important;
    padding-left: 0px !important;
}


