/*   */

#s4-workspace {

   /* width: 100% !important; */
    /*background-color: #ECF1EF !important ; */
      
}



.s4-status-s3 {
    /*display: none !important;*/
}

.s4-titletext {
     /*display: none !important;*/
}
/*Image above topnavigation*/





.s4-ca
{
    margin-left:192px;
    
}

#s4-leftpanel 
{
    width:192px !important;
    float:left;
    
    
}

.s4-ql > div > .ul.root.static >li.static > a.static.menu-item 
{
    display:none;
}