
.ms-bodyareacell td, .ms-bodyareacell p, .ms-bodyareacell div, .ms-bodyareacell span, 
.ms-bodyareacell p, .ms-bodyareacell a,.ms-bodyareacell a:active, .ms-bodyareacell a:hover, 
.ms-bodyareacell a:link, .ms-bodyareacell a:visited,.ms-bodyareacell td,.ms-bodyareacell div, .ms-bodyareacell font,
.ms-bodyareacell h3 a, .ms-bodyareacell h3 span, .ms-bodyareacell h3 div,.ms-bodyareacell h3 p, .ms-bodyareacell h3 font
{ 
    font-family:Arial; 
    
}

#body a
{
    color:Black !important;
}
#body
{
    font-family:Arial, Verdana, Sans-SerifS !important;
}

a:link
{
    color:Black;
}
a:visited
{
    color:Black;
}
/*Footer */
.footer
{
    text-align: center; 
    color:White;
    font-size:10px;
    font-weight:bold;
}
.footerMiddleSection
{
    /*padding-bottom: 10px; */
    padding-top:8px;
    margin-bottom:2px;
    height:26px;
    
    
    color: white; 
    font-size: 10px;
    background-color:#304860;
}

.s4-tn {
    background-color: #304961 !important; /*#6495ED */
    color: white !important;
    font-weight: bold !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size:12px;
    height:24px;
    font-family:Arial;
    /*width: 100% !important;*/
}


.ms-WPHeader td h3, .ms-WPHeader td h3 a, .ms-WPTitle
{
    color:White !important;
    height:18px !important;
    font-size:12px !important;
    font-weight:bold !important;
}

.ms-WPHeader td
{
    border-bottom:0px !important;
}

.ms-WPHeader {
    background: url(/_layouts/images/Atkins.Intranet.Portal/sub_menu_bar_gradient.gif) #6B91B3 repeat-x left top  !important;
    border-top: 0px !important;
    border-bottom:0px !important;
    height:18px;
}
.ms-WPHeaderTdMenu
{
    border-top: 0px !important;
    
}

.ms-vb a:link,.ms-vb a:visited, .ms-vb2 A:link, .ms-vb2 A:visited
{
   color:Black !important;
}



#s4-topheader2 {
    /*width: 100% !important;*/
    border-bottom:0px !important;
}

#s4-leftpanel-content 
{
    background-color: #E7E7E7 !important;
}

.s4-tn .menu-item {    
    color: white !important;
}

.s4-tn .static .selected {
    
    color: #304961 !important;
}

.s4-tn UL.dynamic  
{
    background-color: #304961 !important; /*#6495ED */
    color: white !important;
    font-weight: bold !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size:12px;
    height:24px;
    
}
.s4-tn UL.dynamic li a:hover
{
    text-decoration:underline;
}
.s4-tn UL.dynamic li a  
{
    background-color: #304961 !important; /*#6495ED */
    color: white !important;
    font-weight: bold !important;
    font-size:12px;
}


#s4-leftpanel > .menu-item, .s4-ql UL.root > LI > .menu-item, .s4-ql UL.root UL > LI > A
{
    color: Black !important;
    font-size:10px !important;
}

.ms-cui-topBar2
{
padding-left: 0px !important;
padding-right: 0px !important;
}





/*Ribbon*/
.ms-cui-topBar2 {
    padding-left: 120px !important;
    padding-right: 100px !important;
    font-family:Arial;
}

.s4-titlelogo {
   
    text-align: left !important;
}
/*Image above topnavigation*/
.titleImage 
{
    vertical-align:middle;
    padding-right:10px;
    padding-left:10px;
}


.s4-pagedescription
{
    font-size:20px !important;
    color:Black !important;
    font-weight:bold !important;
}



.s4-socialdata-notif {
     display: none !important;
}

.s4-help {
    display: none !important;
}

#s4-mainarea {
    width: 100% !important; 
    background-color: White !important ;
    padding-left: 0px !important;   
}

#s4-titlerow {
    /*width: 100% !important; */
    background-color: White !important ;   
}



.s4-title {
     background-color: White !important ;   
}
.s4-titletext 
{
    font-family:Arial;
 
}

.layouttable {
    
    horiz-align: center;    
    border: black solid 1px;
       
}

.leftspace 
 {
    width: 150px !important;
}

.rightspace {
     width: 150px !important;
}
.ms-siteactionsmenuinner
{
    font-family:Arial;
}

.ms-siteactionsmenuhover
{
    font-family:Arial;
    font-size:12 px;
}

.s4-specialNavLinkList A
{
    font-family:Arial;
    color:Black !important;
}
.ms-welcomeMenu
{
    font-family:Arial;
}

.ms-addnew
{
    font-family:Arial !important;
    color:Black !important;
}

.ms-WPBody A:link, .ms-WPBody A:Visited
{
    font-family:Arial !important;
    color:Black !important;
}

.ms-PostTitle, .ms-PostTitle A:Link
{
    font-size:24px !important;
    font-weight:bold !important;
    font-family:Arial !important;
    color:Black;
}
.ms-PostFooter, .ms-PostFooter A:link 
{
    font-size:12px !important;
    color: #666666;
}
.ms-PostBody
{
}